/* default */
div {
}

a:hover {
  background-color: #ccc;
}

p,
li {
  padding: 5px;
}

li::before {
  content: '- ';
}

/* header */
header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  font-size: 30px;
}

.nav {
  width: 50%;
}

.nav-list {
  -webkit-appearance: none;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}

/* container */
.container {
  margin: 0 auto;
  background-image: url('../images/home-background-img.jpg');
  width: 100vw;
  height: calc(100vh - 80px);
}

.catch-copy-container {
  margin-top: 100px;
  margin-left: 50px;
}

.catch-copy-ja {
  color: #fff;
  font-size: 40px;
}

.catch-copy-en {
  color: #888;
  padding-left: 60px;
  font-size: 30px;
}

/**************************************
            about
**************************************/

.about-container {
  margin: 100px auto;
  width: 1000px;
  display: flex;
}

.profile-container {
  text-align: center;
}

#about-me {
  text-transform: uppercase;
}

.about-block {
  margin: 60px 0;
}

.about-title {
  font-size: 30px;
}

.about-date {
  display: inline-block;
  width: 130px;
  margin: 0 10px 0 0;
}

/**************************************
            works
**************************************/
.work-wrapper {
  display: flex;
  margin: 50px;
  border: solid 1px #555;
  box-shadow: 10px 10px 10px #555;
}

.work-image {
  display: block;
  width: 50%;
  height: 50%;
}

.work-text-wrapper {
  padding: 5% 0;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.work-title {
  font-size: 30px;
  padding: 10px;
}

.work-explanation {
  padding: 0 50px;
  height: 100px;
  line-height: 30px;
}

.more-button {
  display: block;
  width: 50px;
  margin: 0 auto;
  padding: 5px;
  background-color: #555;
  color: #fff;
}

/**************************************
            each work
**************************************/
.work-container {
  margin: 50px;
}

.work-summary {
  display: flex;
}

.work-info {
  width: 30%;
  margin: 0 10px;
}

.spec-wrapper {
  margin-bottom: 40px;
}

.spec-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.spec-detail {
  font-size: 20px;
  line-height: 30px;
}

.work-main-image {
  display: block;
  width: 70%;
  height: 70%;
}
/**************************************
            contact
**************************************/

.contact-wrapper {
  margin: 100px;
}

.contact {
  font-size: 20px;
}

.fab {
  margin-right: 10px;
}
