/* default */
body,
h2,
a,
div,
p,
li {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3';
}

h2 {
  font-size: 24px;
  padding: 20px 0;
}

a:hover {
  background-color: #ccc;
}

p,
li {
  padding: 5px;
}

li::before {
  content: '- ';
}

/* header */
header {
  margin: 0 50px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 1024px) {
  header {
    margin: 0 10px;
    padding: 0;
    align-items: center;
  }
}

.title {
  font-size: 30px;
  padding: 15px 0;
}

.short-title {
  display: none;
  font-size: 30px;
  padding: 15px 0;
}

@media screen and (max-width: 446px) {
  .title {
    display: none;
  }
  .short-title {
    display: block;
  }
}

.nav {
  width: 50%;
}

.nav-list-ul {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}

#menu-button {
  display: none;
}

#mini-nav-container {
  position: fixed;
  opacity: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0.8;
  display: none;
  padding-top: 20%;
}

@media screen and (max-width: 1024px) {
  .nav {
    text-align: right;
  }

  .nav-list-ul {
    display: none;
  }

  #menu-button {
    display: block;
    color: #000;
    font-size: 30px;
    line-height: 60px;
    margin-right: 5px;
  }

  #menu-button.menu-clicked {
    color: #fff;
    z-index: 5;
    position: fixed;
    top: 0;
    right: 15px;
  }

  #mini-nav-wrapper {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .mini-nav-list {
    text-align: center;
  }

  .mini-nav-list:hover {
    background-color: #333;
  }

  .mini-nav-list a {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
  }
}

.nav-list::before {
  content: '';
}

/* container */
.container {
  margin: 0 auto;
  background-image: url('../images/home-background-img.jpg');
  width: 100vw;
  height: calc(100vh - 60px);
}

.catch-copy-container {
  padding-top: 10%;
  padding-left: 10%;
}

.catch-copy-ja {
  color: #fff;
  font-size: 40px;
}

.catch-copy-en {
  color: #888;
  font-size: 30px;
}

/**************************************
            about
**************************************/

.about-container {
  margin: 100px 50px;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .about-container {
    display: block;
    margin: 0;
  }
}

.about-speciments-container {
  margin: 0 10%;
}

.profile-container {
  text-align: center;
}

#about-me {
  text-transform: uppercase;
}

.about-block {
  margin: 60px 0;
}

.about-title {
  font-size: 30px;
}

.about-date {
  display: inline-block;
  width: 130px;
  margin: 0 10px 0 0;
}

/**************************************
            works
**************************************/
.work-wrapper {
  display: flex;
  margin: 50px;
  border: solid 1px #555;
  box-shadow: 10px 10px 10px #555;
}

@media screen and (max-width: 1024px) {
  .work-wrapper {
    border: 0;
    box-shadow: none;
  }
}

.work-image {
  display: block;
  width: 50%;
  height: 50%;
}

.work-text-wrapper {
  margin: 0 5px;
  padding: 5% 0;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .work-wrapper {
    display: block;
    margin: 0;
    margin-bottom: 20px;
  }

  .work-image {
    width: 100%;
  }

  .work-text-wrapper {
    width: 100%;
  }
}

.work-title {
  font-size: 30px;
  padding: 10px 0;
}

.work-explanation {
  padding: 0 5%;
  line-height: 30px;
}

.more-button {
  display: block;
  width: 50px;
  margin: 10px auto;
  padding: 5px;
  background-color: #555;
  color: #fff;
}

/**************************************
            each work
**************************************/
.work-container {
  margin: 100px 50px;
}

@media screen and (max-width: 1024px) {
  .work-container {
    margin: 100px 0;
  }
}

.work-summary {
  display: flex;
}

.work-info {
  width: 30%;
  margin: 0 10px;
}

@media screen and (max-width: 1024px) {
  .work-summary {
    display: block;
    text-align: center;
  }

  .work-info {
    margin: 0 auto;
    width: 100%;
  }
}

.spec-wrapper {
  margin-bottom: 40px;
}

.spec-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.spec-detail {
  font-size: 20px;
  line-height: 30px;
}

.work-main-image {
  display: block;
  width: 70%;
  height: 70%;
}

@media screen and (max-width: 1024px) {
  .work-main-image {
    width: 100%;
  }
}

.content-wrapper {
  text-align: center;
  margin-top: 30px;
  height: 60vh;
}
/**************************************
            contact
**************************************/

.contact-wrapper {
  margin: 100px;
}

.contact {
  font-size: 20px;
}

.fab {
  margin-right: 10px;
}
